/*===== NAVEGATION =====*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*===== LAYOUT =====*/
header {
    left: 0;
}
nav{
    max-width: 60% !important;
    width: 100% !important;

    height: 4rem;

    padding: 25px;

    margin-top: 10px;

    
    transition: all 1000ms;
}

nav.bd-grid-nav {
    max-width: 60% !important;
    width: 100% !important;
    height: 4rem;
    
    color: var(--black) !important;

    padding: 25px;
    border-radius: 30px 30px;

    margin-top: 10px;

    background: rgba(0, 0, 0, 0.418);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);     

    transition: all 1000ms;
}


/*===== NAV =====*/
@media screen and (max-width: 768px) {
    header {
        width: 100%;
        bottom: 0;
    }

    .nav__menu {
        position: var(--fixed);
        top: 0%;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        padding: 7rem 2rem;
        transition: all 300ms;
        z-index: -1 !important;
        justify-content: center;
        align-items: center;
        display: flex;
    }


    nav {
        width: 100%;
        height: .5rem;
        background: var(--bg-color) !important;
        max-width: 90% !important;
        margin-bottom: 0px;
        border-radius: 30px 30px 0 0;
        transition: all 200ms;
        
        padding: 20px;

    }

    nav.bd-grid-nav {
        width: 100%;
        height: 1rem;
        background: var(--bg-color) !important;
        max-width: 90% !important;
        margin-bottom: 10px;
        padding: 25px;

        background: linear-gradient(transparent, rgba(0, 0, 0, 0.644), transparent);
        -webkit-backdrop-filter: inherit;
        backdrop-filter: inherit;  

    }
    .nav__item-none{
        display: block !important;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }
    .svg_bmwlogoscroll{
        display: none;
    }

    .nav__logo img{
        width: 200px !important;
    }
}

.nav__item {
    width: auto;
    padding: 5px;
    margin-bottom: var(--mb-4);
    cursor: pointer;
    transition: 0.4s all ease;
    text-align: center;
}

.nav__item:hover {
    color: var(--light-medium-principal-color);
    transition: 0.4s all ease;
}

.nav__item::after {
    content: '';
    position: var(--absolute);
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 25px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.nav__item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: orangered;
}

.tsg-icon{
    width: 70px;
}

/*--===== Activen menu =====--*/
.activen {
    transition: transform 500ms ease-out;
    font-weight: bold;
    color: var(--light-medium-principal-color) !important; 

    justify-content: center;
    align-items: center;
    display: flex;
}

.activen::after {
    position: var(--absolute);
    background-color: rgb(255, 217, 0);
    content: "";
    width: 80%;
    height: 100%;
    height: 2px;
    top: 25px !important;
    border-radius: 10px;
    z-index: -1 !important;
    
    transition: transform 5s ease ;
}
.nav__item {
    margin-bottom: var(--mb-4);
    height: 100%;

    cursor: pointer;
    transition: all 500ms ease; 

}
.nav__item-none{
    display: none;
}

.nav__logo {
    width: 400px !important;
    text-shadow: 1px 1px 5px black;
}

.nav__logo .the, .swap{
    font-family: var(--the-swap);
    font-size: 2rem;
}
.nav__logo .swap{
    color: var(--tsgmx);
    
}
.nav__logo .group{
    font-family: 'Unicars';
    font-size: 1.8rem;
}
.nav__logo img{
    width: 250px;
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}
.nav__list{
    justify-content: center;
    align-items: center;
    display: flex;
}

/* ===== RESPONSIVE ===== */
/* Dispositivos grandes (pantallas anchas, laptops) */
@media (max-width: 1200px) {}

/* Dispositivos medianos (tablets en horizontal o laptops más pequeñas) */
@media (max-width: 992px) {}

/* Dispositivos pequeños (tablets en vertical, smartphones grandes) */
@media (max-width: 768px) {}

/* Dispositivos extra pequeños (smartphones más comunes) */
@media (max-width: 576px) {}

/* Dispositivos ultrapequeños (smartphones muy compactos) */
@media (max-width: 360px) {}

/* Orientación landscape (horizontal) */
@media (orientation: landscape) and (max-width: 768px) {}

@media (orientation: landscape) and (max-width: 576px) {}

@media (orientation: landscape) and (max-width: 360px) {}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .nav {
        height: calc(3rem + 1rem);
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
.nav__item::after {
    content: '';
    position: var(--absolute);
    width: 100%;
    transform: scaleX(0);
    bottom: -5px;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--white);
    }

    .nav__link:hover {
        color: var(--white);
    }
}

@media screen and (min-width: 1024px) {
    .bd-grid-nav {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 800px) {}




