.video__car {
  width: 100%;
  height: 100vh;
  position: fixed;

}

video {
   width: 170vw;
  height: 170vh;
  bottom: 0;
  left: 0;
  object-fit: cover;
}


.capavideo{
  width: 100vw;
  height: 100vh;
position: absolute;
/* background: linear-gradient(black, transparent, transparent); */

}




.video-text{
  width: 100%;
  height: 100%;




  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 3rem;
  font-family: Unicars;
  text-align: center;
  text-shadow: 1px 1px 10px black;
  background: linear-gradient(transparent, transparent, black);
}

.video-text img{
  width: 25%;
}

.videorotten{
 width: 100vw !important;
  height: 100vh;
}
.imgoro{
  width: 15%;
  left: -2%;
}

.container{
  height: 200px;
background-color: transparent;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    bottom: 5%;

}
.container h2{
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}


.slide{

  height: 100px;

  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
}
.slick-slide{
    margin: 0 20px;
}
.slick-slide img{
    width: 100%;
}
.imgmoto{
  width: 70% !important;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-slide img{
    display: block;
}
.slick-initialized .slick-slide{
    display: block;
}
.copy{
    padding-top: 250px;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 70%;
}

.slide{
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.pat-of1{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/The%20Swap%20Group%20Of%20glass.png);
}
.pat-of2{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/New%20TSM.png);
  background-size: 70%;
}
.pat-of3{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/Logo%20Hilos%20de%20Velocidad.png);
}
.pat-of4{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/ODT-01.png?updatedAt=1784947101845);
}
.pat-of5{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/logo%20Underground.png);
background-size: 30%;
}
.pat-of6{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/Sin%20nombre%203.png);

}
.pat-of7{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/logo+transparente+oro.webp?updatedAt=1784951863501);
}
.pat-of8{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/Vector%20234.png);
background-size: 50%;
}
.pat-of9{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/Group%2048095472.png?updatedAt=1784951701442);
background-size: 35%;
}
.pat-of10{
  background-image: url(https://ik.imagekit.io/ql9msrqiq/Unicars%20Performance%20Store/image_192-removebg-preview.png?updatedAt=1784951315120);
background-size: 50%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}













/* ===== RESPONSIVE ===== */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px

*/

@media (min-width: 320px) and (max-width: 480px) {
  .bmwlogo{
    width: 35%;
  }
}

/* @media screen and (max-width: 800px) {
  
} */

@media (max-width: 768px) {}










